body {
    background: var(--corpo);
    text-align: center;
}

:root{
    --corpo: #050517;
    --vazio: #191970;
    --errado: #C9B55A;
    --certo: #7BA05B;
}


#title {
    color: white;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 3rem;
      margin-bottom: 0;
      position: relative;
}

#board {
    width: 350px;
    height: 420px;
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    /* Box */
    border: 2px solid var(--vazio);
    width: 60px;
    height: 60px;
    margin: 2.5px;
    border-radius:10px;

    color: white;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.correct {
    background: var(--certo);
}

.present {
    background: var(--errado);
}

.absent {
    background: var(--vazio);
}


.keyboard-row {
    width: 400px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.key-tile {
    width: 36px;
    height: 40px;
    margin: 1px;
    border: 1px solid var(--vazio);
    border-radius: 10px;

    color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.enter-key-tile {
    width: 76px;
    height: 40px;
    margin: 1px;
    border: 1px solid var(--vazio);
    border-radius: 10px;

    color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
